<mat-card>

  <mat-toolbar color="primary" >Autores</mat-toolbar>

  <table mat-table [dataSource]="dataAutores" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="origem">
      <th mat-header-cell *matHeaderCellDef> Origem </th>
      <td mat-cell *matCellDef="let element"> {{element.origem}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="datecreate">
      <th mat-header-cell *matHeaderCellDef> Data Criação </th>
      <td mat-cell *matCellDef="let element"> {{element.data_cadastro}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</mat-card>
